body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("aboutus.png"); 
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color:black; 
}