* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    left: 0;
    right: 0;
    background-image: url("login.png");
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid black;

}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}

.input-field {
    position: relative;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    border-bottom: 2px solid black;
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color:#000 ;
}

#save-login {
    accent-color: black;
}

.forgot label {
    display: flex;
    align-items: center;
}

.forgot label p {
    margin-left: 8px;
}

.container a {
    color: black;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

button {
    background: rgba(255, 255, 255, 0.15);
    color: #000;
    font-weight: 600;
    border-color: black;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    
    transition: 0.3s ease;
    margin-top: 15px;
}

button:hover {
    color: black;
    border-color:black;
    background: whitesmoke;
}

.create-account {
    text-align: center;
    margin-top: 20px; 
    color: black;
}